<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Admin</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <a href="/class" target="_blank">Choose Class</a><br />
    <a href="/uploaddata" target="_blank">Upload Data</a><br />
    <a href="/timetable" target="_blank">Upload Timetable</a><br />
    <a href="/seating" target="_blank">Generate Seating Arrangement</a><br />
    <a href="/viewdata" target="_blank">View Data</a><br />
    <a href="/viewtimetable" target="_blank">View Timetable</a><br />
    <a href="/reset" target="_blank">Reset Data</a><br />
    <a href="/" target="_blank">Go Home</a><br />
  </body>
</html>
