<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Admin</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <style>
      /* Styles for the loading screen */
      .loading-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(
          0,
          0,
          0,
          0.7
        ); /* Semi-transparent black background */
        display: none; /* Initially hidden */
        justify-content: center;
        align-items: center;
        z-index: 9999; /* Place it above other content */
      }

      .loading-icon {
        border: 4px solid #f3f3f3; /* Light gray border */
        border-top: 4px solid #3498db; /* Blue border on top */
        border-radius: 50%; /* Circular shape */
        width: 30px;
        height: 30px;
        animation: spin 2s linear infinite; /* Rotation animation */
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      
    </style>
  </head>
  <body>
    <div id="loadingScreen" class="loading-screen">
      <div class="loading-icon"></div>
    </div>

    <div class="container py-3">
      <header>
        <div
          class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom"
        >
          <a
            href="/admin"
            class="d-flex align-items-center link-body-emphasis text-decoration-none"
          >
            <span class="fs-4">Admin Panel</span>
          </a>

          <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a
              class="me-3 py-2 link-body-emphasis text-decoration-none"
              href="/"
              >Home</a
            >
            <a
              class="me-3 py-2 link-body-emphasis text-decoration-none"
              href="/viewdata"
              >View Data</a
            >
            <a
              class="me-3 py-2 link-body-emphasis text-decoration-none"
              href="/viewtimetable"
              >View Timetable</a
            >
            <a
              class="py-2 link-body-emphasis text-decoration-none"
              href="/reset"
              >Reset Data</a
            >
          </nav>
        </div>
      </header>
    </div>

    <div class="container col-xxl-8 px-4 py-5 mb-3">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-7">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-5">
            Upload the Students Data
          </h1>
          <p class="lead">
            Upload every students data. Students from every branch,year. Upload
            it as excel file. Check the screenshot for the format. Enter the
            Sheetname as class name. Headings as "rollnum" & "name"
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/uploaddata" class="btn btn-primary btn-lg px-4 me-md-2"
              >Upload Data
            </a>
          </div>
        </div>
        <div class="col-10 col-sm-8 col-lg-5">
          <img
            src="/static/datascreenshot.jpg"
            class="d-block mx-lg-auto img-fluid"
            alt="Screenshot"
            width="700"
            height="500"
            loading="lazy"
          />
        </div>
      </div>

      <div class="container col-xxl-8 px-4 py-6">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-5">
            <img
              src="/static/timetablescreenshot.jpg"
              class="d-block mx-lg-auto img-fluid"
              alt="Screenshot"
              width="700"
              height="500"
              loading="lazy"
            />
          </div>
          <div class="col-lg-7">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
              Upload the Students Timetable
            </h1>
            <p class="lead">
              Upload every students timetable. Students from every branch,year.
              Upload it as excel file. Check the screenshot for the format.
              Enter the Sheetname as class name. Headings as "date" & "subject"
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a href="/timetable" class="btn btn-primary btn-lg px-4 me-md-2"
                >Upload Timetable
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="container col-xxl-8 px-4 py-5 mb-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
              Choose the available classes
            </h1>
            <p class="lead">
              Choose the classes which are available for seating the students
              for the examination.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a href="/class" class="btn btn-primary btn-lg px-4 me-md-2"
                >Choose Class
              </a>
            </div>
          </div>
          <div class="col-10 col-sm-8 col-lg-6">
            <img
              src="/static/classscreenshot.jpg"
              class="d-block mx-lg-auto img-fluid"
              alt="Screenshot"
              width="600"
              height="700"
              loading="lazy"
            />
          </div>
        </div>
      </div>

      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
              Seat Arrangement
            </h1>
            <p class="lead">
              Arrange the students seats in available classes and seats without
              the same subject coming next to each other. If generated,success
              message will be shown and can be viewed through "View Seating"
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a
                href="/seating"
                class="btn btn-primary btn-lg px-4 me-md-2"
                onclick="showLoadingScreen()"
                >Generate</a
              >

              <a href="/viewseating" class="btn btn-primary btn-lg px-4 me-md-2"
                >View Seating</a
              >
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %} {%
            if messages %} {% for category, message in messages %} {% if
            category == 'success' %}
            <div class="alert alert-success mt-4" style="width: fit-content">
              {{ message }}
            </div>
            {% elif category == 'error' %}
            <div class="alert alert-danger mt-4" style="width: fit-content">
              {{ message }}
            </div>
            {% endif %} {% endfor %} {% endif %} {% endwith %}
          </div>
          <div class="col-10 col-sm-8 col-lg-6">
            <img
              src="/static/seatingscreenshot.jpg"
              class="d-block mx-lg-auto img-fluid"
              alt="Screenshot"
              width="700"
              height="500"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </div>

    <script>
      function showLoadingScreen() {
        const loadingScreen = document.getElementById("loadingScreen");
        loadingScreen.style.display = "flex"; // Show loading screen
      }
    </script>
  </body>
</html>
