<!DOCTYPE html>
<html>
    <head>
        <title>Admin Portal</title>
    </head>
    <body>
        <div class="container">
            <form action="/submit" method="POST">
              <div class="form-group">
                <label>Column:</label>
                <input name="column" type="text" class="form-control" />
                <label>Row:</label>
                <input name="rows" type="text" class="form-control" />
                <label>Number of Class:</label>
                <input name="noofclass" type="text" class="form-control" />
                <input id="submitbutton" name="" type="submit" />
              </div>
            </form>
          </div>
    </body>
</html>

