<!DOCTYPE html>
<html>
  <head>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <style>
      .custom-card {
        width: 250px; /* Adjust the width as per your requirements */
      }
      .custom-list {
        margin-left: 20px;
      }

      .row {
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <div class="container py-2">
      <header>
        <div
          class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom"
        >
          <a
            href="#"
            class="d-flex align-items-center link-body-emphasis text-decoration-none"
          >
            <span class="fs-4">Class Available</span>
          </a>
          <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a
              class="me-3 py-2 link-body-emphasis text-decoration-none"
              href="/admin"
              >Home</a
            >
          </nav>
        </div>
      </header>
    </div>

    <form action="/details" method="POST">
      <div class="row row-cols-1 row-cols-md-4">
        <div class="col-md-auto">
          <div class="card mb-4 rounded-3 shadow-sm custom-card">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal text-center">ADM Class</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-1 mb-1 custom-list">
                <input
                  type="checkbox"
                  name="item[]"
                  id="ADM1"
                  value="ADM 303"
                />
                <label for="ADM1">ADM 303</label>
                <br />
                <input
                  type="checkbox"
                  name="item[]"
                  id="ADM2"
                  value="ADM 304"
                />
                <label for="ADM2">ADM 304</label>
                <br />
                <input
                  type="checkbox"
                  name="item[]"
                  id="ADM3"
                  value="ADM 305"
                />
                <label for="ADM3">ADM 305</label>
                <br />
                <input
                  type="checkbox"
                  name="item[]"
                  id="ADM4"
                  value="ADM 306"
                />
                <label for="ADM4">ADM 306</label>
                <br />
                <input
                  type="checkbox"
                  name="item[]"
                  id="ADM5"
                  value="ADM 307"
                />
                <label for="ADM5">ADM 307</label>
                <br />
                <input
                  type="checkbox"
                  name="item[]"
                  id="ADM6"
                  value="ADM 308"
                />
                <label for="ADM6">ADM 308</label>
                <br />
                <input
                  type="checkbox"
                  name="item[]"
                  id="ADM7"
                  value="ADM 309"
                />
                <label for="ADM7">ADM 309</label>
                <br />
                <input
                  type="checkbox"
                  name="item[]"
                  id="ADM8"
                  value="ADM 310"
                />
                <label for="ADM8">ADM 310</label>
                <br />
                <input
                  type="checkbox"
                  name="item[]"
                  id="ADM9"
                  value="ADM 311"
                />
                <label for="ADM9">ADM 311</label>
                <br />
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-auto">
          <div class="card mb-4 rounded-3 shadow-sm custom-card">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal text-center">East Classrooms</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-1 mb-1 custom-list">
                <input type="checkbox" name="item[]" id="EC1" value="EAB 206" />
                <label for="EC1">EAB 206</label>
                <br />
                <input type="checkbox" name="item[]" id="EC2" value="EAB 306" />
                <label for="EC2">EAB 306</label>
                <br />
                <input type="checkbox" name="item[]" id="EC3" value="EAB 401" />
                <label for="EC3">EAB 401</label>
                <br />
                <input type="checkbox" name="item[]" id="EC4" value="EAB 304" />
                <label for="EC4">EAB 304</label>
                <br />
                <input type="checkbox" name="item[]" id="EC5" value="EAB 303" />
                <label for="EC5">EAB 303</label>
                <br />
                <input type="checkbox" name="item[]" id="EC6" value="EAB 104" />
                <label for="EC6">EAB 104</label>
                <br />
                <input type="checkbox" name="item[]" id="EC7" value="EAB 103" />
                <label for="EC7">EAB 103</label>
                <br />
                <input type="checkbox" name="item[]" id="EC8" value="EAB 203" />
                <label for="EC8">EAB 203</label>
                <br />
                <input type="checkbox" name="item[]" id="EC9" value="EAB 204" />
                <label for="EC9">EAB 204</label>
                <br />
                <input
                  type="checkbox"
                  name="item[]"
                  id="EC10"
                  value="EAB 415"
                />
                <label for="EC10">EAB 415</label>
                <br />
                <input
                  type="checkbox"
                  name="item[]"
                  id="EC11"
                  value="EAB 416"
                />
                <label for="EC11">EAB 416</label>
                <br />
                <input
                  type="checkbox"
                  name="item[]"
                  id="EC12"
                  value="EAB 310"
                />
                <label for="EC12">EAB 310</label>
                <br />
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md">
          <div class="card mb-4 rounded-3 shadow-sm custom-card">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal text-center">West Classrooms</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-1 mb-1 custom-list">
                <input type="checkbox" name="item[]" id="WC1" value="WAB 206" />
                <label for="WC1">WAB 206</label>
                <br />
                <input type="checkbox" name="item[]" id="WC2" value="WAB 105" />
                <label for="WC2">WAB 105</label>
                <br />
                <input type="checkbox" name="item[]" id="WC3" value="WAB 107" />
                <label for="WC3">WAB 107</label>
                <br />
                <input type="checkbox" name="item[]" id="WC4" value="WAB 207" />
                <label for="WC4">WAB 207</label>
                <br />
                <input type="checkbox" name="item[]" id="WC5" value="WAB 212" />
                <label for="WC5">WAB 212</label>
                <br />
                <input type="checkbox" name="item[]" id="WC6" value="WAB 210" />
                <label for="WC6">WAB 210</label>
                <br />
                <input type="checkbox" name="item[]" id="WC7" value="WAB 211" />
                <label for="WC7">WAB 211</label>
                <br />
                <input type="checkbox" name="item[]" id="WC8" value="WAB 205" />
                <label for="WC8">WAB 205</label>
                <br />
                <input type="checkbox" name="item[]" id="WC9" value="WAB 305" />
                <label for="WC9">WAB 305</label>
                <br />
                <input
                  type="checkbox"
                  name="item[]"
                  id="WC10"
                  value="WAB 303"
                />
                <label for="WC10">WAB 303</label>
                <br />
                <input
                  type="checkbox"
                  name="item[]"
                  id="WC11"
                  value="WAB 403"
                />
                <label for="WC11">WAB 403</label>
                <br />
                <input
                  type="checkbox"
                  name="item[]"
                  id="WC12"
                  value="WAB 405"
                />
                <label for="WC12">WAB 405</label>
                <br />
                <input
                  type="checkbox"
                  name="item[]"
                  id="WC13"
                  value="WAB 412"
                />
                <label for="WC13">WAB 412</label>
                <br />
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex justify-content-center">
            <input type="submit" class="btn btn-primary" value="Submit" />
          </div>
          <!-- flash message -->
          <div class="col-md-6 mt-3">
            {% with messages = get_flashed_messages() %} {% if messages %}
            <div class="alert alert-danger" role="alert">
              <ul class="flash-messages">
                {% for message in messages %}
                <li class="flash-message">{{ message }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %} {% endwith %}
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
