<!DOCTYPE html>
<html lang="en">
<head>
    <title>Class</title>
</head>
<body>
    <h3>Choose the available classes</h3>

    <form action="/details" method="POST">
      <div class="wrapper">

        <div class="box">
          <label>ADM Class:</label>
          <br />
          
          <input
            type="checkbox"
            name="item[]"
            id="ADM1"
            value="ADM 303"
          /><label for="ADM1">ADM 303</label>
          <br />

          <input
            type="checkbox"
            name="item[]"
            id="ADM2"
            value="ADM 304"
          /><label for="ADM2">ADM 304</label>
          <br />
          <input
            type="checkbox"
            name="item[]"
            id="ADM3"
            value="ADM 305"
          /><label for="ADM3">ADM 305</label>
          <br />
          <input
            type="checkbox"
            name="item[]"
            id="ADM4"
            value="ADM 306"
          /><label for="ADM4">ADM 306</label>
          <br />
          <input
            type="checkbox"
            name="item[]"
            id="ADM5"
            value="ADM 307"
          /><label for="ADM5">ADM 307</label>
          <br />
          <input
            type="checkbox"
            name="item[]"
            id="ADM6"
            value="ADM 308"
          /><label for="ADM6">ADM 308</label>
          <br />
          <input
            type="checkbox"
            name="item[]"
            id="ADM7"
            value="ADM 309"
          /><label for="ADM7">ADM 309</label>
          <br />
          <input
            type="checkbox"
            name="item[]"
            id="ADM8"
            value="ADM 310"
          /><label for="ADM8">ADM 310</label>
          <br />
        </div>

        <div class="box">
          <label>Classroom:</label>
          <br />
          <input type="checkbox" name="item[]" id="C1" value="EAB 407" /><label
            for="C1"
            >EAB 407</label
          >
          <br />
          <input type="checkbox" name="item[]" id="C2" value="EAB 106" /><label
            for="C2"
            >EAB 106</label
          >
          <br />
          <input type="checkbox" name="item[]" id="C3" value="EAB 206" /><label
            for="C3"
            >EAB 206</label
          >
          <br />
          <input type="checkbox" name="item[]" id="C4" value="EAB 306" /><label
            for="C4"
            >EAB 306</label
          >
          <br />
          <input type="checkbox" name="item[]" id="C5" value="EAB 401" /><label
            for="C5"
            >EAB 401</label
          >
          <br />
          <input type="checkbox" name="item[]" id="C8" value="EAB 405" /><label
            for="C8"
            >EAB 405</label
          >
          <br />
          <input type="checkbox" name="item[]" id="C9" value="EAB 304" /><label
            for="C9"
            >EAB 304</label
          >
          <br />
          <input type="checkbox" name="item[]" id="C10" value="EAB 303" /><label
            for="C10"
            >EAB 303</label
          >
          <br />
          <input type="checkbox" name="item[]" id="C11" value="EAB 104" /><label
            for="C11"
            >EAB 104</label
          >
          <br />
          <input type="checkbox" name="item[]" id="C12" value="EAB 103" /><label
            for="C12"
            >EAB 103</label
          >
          <br />
          <input type="checkbox" name="item[]" id="C13" value="EAB 203" /><label
            for="C13"
            >EAB 203</label
          >
          <br />
          <input type="checkbox" name="item[]" id="C14" value="EAB 204" /><label
            for="C14"
            >EAB 204</label
          >
          <br />
        </div>

        <div class="box">
          <label>Classroom:</label>
          <br />
          <input type="checkbox" name="item[]" id="C15" value="WAB 206" /><label
            for="C15"
            >WAB 206</label
          >
          <br />
          <input type="checkbox" name="item[]" id="C16" value="WAB 105" /><label
            for="C16"
          >
            WAB 105</label
          >
          <br />
          <input type="checkbox" name="item[]" id="C17" value="WAB 106" /><label
            for="C17"
          >
            WAB 106</label
          >
          <br />
          <input type="checkbox" name="item[]" id="C6" value="WAB 107" /><label
            for="C6"
            >WAB 107</label
          >
          <br />
          <input type="checkbox" name="item[]" id="C7" value="WAB 207" /><label
            for="C7"
            >WAB 207</label
          >
          <br />
          <input type="checkbox" name="item[]" id="C18" value="WAB 212" /><label
            for="C18"
          >
            WAB 212</label
          >
          <br />
          <input type="checkbox" name="item[]" id="C19" value="WAB 210" /><label
            for="C19"
          >
            WAB 210</label
          >
          <br />
          <input type="checkbox" name="item[]" id="C20" value="WAB 211" /><label
            for="C20"
          >
            WAB 211</label
          >
          <br />
          <input type="checkbox" name="item[]" id="C21" value="WAB 205" /><label
            for="C21"
          >
            WAB 205</label
          >
          <br />
          <input type="checkbox" name="item[]" id="C22" value="WAB 305" /><label
            for="C22"
          >
            WAB 305</label
          >
          <br />
          <input type="checkbox" name="item[]" id="C23" value="WAB 303" /><label
            for="C23"
          >
            WAB 303</label
          >
          <br />
          <input type="checkbox" name="item[]" id="C24" value="WAB 403" /><label
            for="C24"
          >
            WAB 403</label
          >
          <br />
          <input type="checkbox" name="item[]" id="C25" value="WAB 405" /><label
            for="C25"
          >
            WAB 405</label
          >
          <br />
        </div>

        <div class="box">
          <label>Common Exam Hall1:</label><br />
          <input
            type="checkbox"
            name="item[]"
            id="CEH1"
            value="EAB 415"
          /><label for="CEH1"> EAB 415 </label>
        </div>

        <div class="box">
          <label>Common Exam Hall2:</label><br />
          <input type="checkbox" name="item[]" id="CEH2" value="EAB 416"/><label for="CEH2">
            EAB 416</label
          >
        </div>
        <div class="box">
          <label>Drawing Hall:</label><br />
          <input type="checkbox" name="item[]" id="DH1" value="WAB 412"/><label for="DH1">
            WAB 412</label
          >
        </div>
        <div class="box">
          <label>Seminar Hall:</label><br />
          <input type="checkbox" name="item[]" id="SH1" value="EAB 310"/><label for="SH1">
            EAB 310</label
          >
        </div>
      </div>

      <div class="centered">
        <input type="submit" value="Submit" />
      </div>
    </form>
    <br />
    
</body>
</html>