<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <form action="/details" method="POST">
      <label for="dropdown">Type of class:</label>
      <select name="dropdown" id="dropdown">
        <option value="0" selected>-select-</option>
        <option value="1">ADM Classrooms</option>
        <option value="2">Classrooms</option>
        <option value="3">Common Exam Hall(150)</option>
        <option value="4">Common Exam Hall(140)</option>
        <option value="5">Drawing Hall</option>
        <option value="6">Seminar Hall EC</option>
      </select>

      <div id="admClasses" class="hidden">
        <label>ADM Class:</label>
        <br />
        <input type="checkbox" name="ADM1" id="ADM1" /><label for="ADM1"
          >ADM 303</label
        >
        <br />
        <input type="checkbox" name="ADM2" id="ADM2" /><label for="ADM2"
          >ADM 304</label
        >
        <br />
        <input type="checkbox" name="ADM3" id="ADM3" /><label for="ADM3"
          >ADM 305</label
        >
        <br />
        <input type="checkbox" name="ADM4" id="ADM4" /><label for="ADM4"
          >ADM 306</label
        >
        <br />
        <input type="checkbox" name="ADM5" id="ADM5" /><label for="ADM5"
          >ADM 307</label
        >
        <br />
        <input type="checkbox" name="ADM6" id="ADM6" /><label for="ADM6"
          >ADM 308</label
        >
        <br />
        <input type="checkbox" name="ADM7" id="ADM7" /><label for="ADM7"
          >ADM 309</label
        >
        <br />
        <input type="checkbox" name="ADM8" id="ADM8" /><label for="ADM8"
          >ADM 310</label
        >
      </div>

     
      <div id="classrooms" class="hidden">
         <label>Classroom:</label>
        <br />
        <input type="checkbox" name="C1" id="C1" /><label for="C1"
          >EAB 407</label
        >
        <br />
        <input type="checkbox" name="C2" id="C2" /><label for="C2"
          >EAB 106</label
        >
        <br />
        <input type="checkbox" name="C3" id="C3" /><label for="C3"
          >EAB 206</label
        >
        <br />
        <input type="checkbox" name="C4" id="C4" /><label for="C4"
          >EAB 306</label
        >
        <br />
        <input type="checkbox" name="C5" id="C5" /><label for="C5"
          >EAB 401</label
        >
        <br />
        <input type="checkbox" name="C6" id="C6" /><label for="C6"
          >WAB 107</label
        >
        <br />
        <input type="checkbox" name="C7" id="C7" /><label for="C7"
          >WAB 207</label
        >
        <br />
        <input type="checkbox" name="C8" id="C8" /><label for="C8"
          >EAB 405</label
        >
        <br />
        <input type="checkbox" name="C9" id="C9" /><label for="C9"
          >EAB 304</label
        >
        <br />
        <input type="checkbox" name="C10" id="C10" /><label for="C10"
          >EAB 303</label
        >
        <br />
        <input type="checkbox" name="C11" id="C11" /><label for="C11"
          >EAB 104</label
        >
        <br />
        <input type="checkbox" name="C12" id="C12" /><label for="C12"
          >EAB 103</label
        >
        <br />
        <input type="checkbox" name="C13" id="C13" /><label for="C13"
          >EAB 203</label
        >
        <br />
        <input type="checkbox" name="C14" id="C14" /><label for="C14"
          >EAB 204</label
        >
        <br />
        <input type="checkbox" name="C15" id="C15" /><label for="C15"
          >WAB 206</label
        >
        <br />
        <input type="checkbox" name="C16" id="C16" /><label for="C16">
          WAB 105</label
        >
        <br />
        <input type="checkbox" name="C17" id="C17" /><label for="C17">
          WAB 106</label
        >
        <br />
        <input type="checkbox" name="C18" id="C18" /><label for="C18">
          WAB 212</label
        >
        <br />
        <input type="checkbox" name="C19" id="C19" /><label for="C19">
          WAB 210</label
        >
        <br />
        <input type="checkbox" name="C20" id="C20" /><label for="C20">
          WAB 211</label
        >
        <br />
        <input type="checkbox" name="C21" id="C21" /><label for="C21">
          WAB 205</label
        >
        <br />
        <input type="checkbox" name="C22" id="C22" /><label for="C22">
          WAB 305</label
        >
        <br />
        <input type="checkbox" name="C23" id="C23" /><label for="C23">
          WAB 303</label
        >
        <br />
        <input type="checkbox" name="C24" id="C24" /><label for="C24">
          WAB 403</label
        >
        <br />
        <input type="checkbox" name="C25" id="C25" /><label for="C25">
          WAB 405</label
        >
        <br />
      </div>

      <div id="commexmhall" class="hidden">
        <label>
          <input type="checkbox" name="commonexmdrop" value="ADM1" />
          EAB 415
        </label>
      </div>

      <div id="commonexmhall" class="hidden">
        <label>
          <input type="checkbox" name="commexmdrop" value="ADM1" />
          Common Exam Hall: EAB 416
        </label>
      </div>

      <div id="drawhall" class="hidden">
        <label>
          <input type="checkbox" name="drawdrop" value="ADM1" />
          Drawing Hall: WAB 412
        </label>
      </div>

      <div id="semhall" class="hidden">
        <label>
          <input type="checkbox" name="commonexmdrop2" value="ADM1" />
          Seminar Hall EC: EAB 310
        </label>
      </div>

      <label for="noofclass">Number of Class:</label>
      <input
        type="number"
        name="noofclass"
        id="noofclass"
        placeholder="Enter a number"
      /><br />
      <input type="submit" value="Submit" />
    </form>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <label for="file">Select Excel file to upload:</label>
      <input
        type="file"
        name="file"
        id="file"
        accept=".xls,.xlsx"
        multiple
      /><br /><br />
      <input type="submit" value="Upload File" />
      {% with messages = get_flashed_messages() %} {% if messages %}
      <p class="flashes">
        {% for message in messages %} {{ message }} {% endfor %}
      </p>
      {% endif %} {% endwith %}
    </form>
    <a href="/student">Go to Student Page</a>
    <a href="/seating" target="_blank">Go to Seating Arrangement</a>

    <script src="{{ url_for('static', filename='home.js') }}"></script>
  </body>
</html>
