<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <form action="/details" method="POST">
      <label for="dropdown">Type of class:</label>
      <select name="dropdown" id="dropdown">
        <option value="0" selected>-select-</option>
        <option value="1">ADM Classrooms</option>
        <option value="2">Classrooms</option>
        <option value="3">Common Exam Hall</option>
        <option value="4">Common Exam Hall2</option>
        <option value="5">Drawing Hall</option>
        <option value="6">Seminar Hall EC</option>
      </select>
      <label for="noofclass">Number of Class:</label>
      <input type="number" name="noofclass" id="noofclass" placeholder="Enter a number"/><br />
      <input type="submit" value="Submit" />
    </form>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <label for="file">Select Excel file to upload:</label>
      <input type="file" name="file" id="file" accept=".xls,.xlsx" multiple /><br /><br />
      <input type="submit" value="Upload File" />
    </form>
    <a href="/student">Go to Student Page</a>
    <a href="/seating" target="_blank">Go to Seating Arrangement</a>
  </body>
</html>
