<!DOCTYPE html>
<html>
<head>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Reset Page</title>
</head>
<body>
    <div class="container py-3">
        <header>
          <div
            class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom"
          >
            <a
              href="#"
              class="d-flex align-items-center link-body-emphasis text-decoration-none"
            >
              <span class="fs-4">Reset Page</span>
            </a>
            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
              <a
                class="me-3 py-2 link-body-emphasis text-decoration-none"
                href="/admin"
                >Home</a
              >
            </nav>
          </div>
        </header>
      </div>
    <div class="container">
        <ul class="list-group mt-4">
            <li class="list-group-item"><a class="text-decoration-none" href="/reset/collections">Delete Student Data</a></li>
            <li class="list-group-item"><a class="text-decoration-none" href="/reset/static">Reset Static</a></li>
            <li class="list-group-item"><a class="text-decoration-none" href="/reset/uploads">Reset Uploads</a></li>
            <li class="list-group-item"><a class="text-decoration-none" href="/reset/dates">Reset Dates</a></li>
            <li class="list-group-item"><a class="text-decoration-none" href="/reset/users">Reset Users</a></li>
        </ul>
        {% if message %}
        <p class="mt-4">{{ message }}</p>
        {% endif %}
    </div>
</body>
</html>
