<!DOCTYPE html>
<html>
  <head>
    <title>Student</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <style>
      .my-form {
        margin: auto 100px;
      }
    </style>
  </head>
  <body>
    <div class="container py-3">
      <header>
        <div
          class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom"
        >
          <a
            href="#"
            class="d-flex align-items-center link-body-emphasis text-decoration-none"
          >
            <span class="fs-4">Student Page</span>
          </a>

          <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a
              class="me-3 py-2 link-body-emphasis text-decoration-none"
              href="/"
              >Home</a
            >
          </nav>
        </div>
      </header>
    </div>

    <form action="/student" method="POST" class="my-form">
      <div class="custom-div">
        <div class="d-flex justify-content-between">
          <label for="roll_num">Roll Number:</label>
          <input
            type="text"
            class="form-control"
            name="roll_num"
            id="roll_num"
            placeholder="Enter roll number"
            size="4"
          />
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
      {% if roll_num %}
      <div class="mt-4">
        <h5>Exam Hall Details:</h5>
        <table class="table my-table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Subject</th>
              <th>Seat Number</th>
              <th>Classroom</th>
            </tr>
          </thead>
          <tbody>
            {% for seat in seat_num %}
            <tr>
              <td>{{ seat[0]['date'] }}</td>
              <td>{{ seat[0]['subject'] }}</td>
              <td>{{ seat[0]['seatnum'] }}</td>
              <td>{{ seat[0]['classroom'] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </form>
  </body>
</html>
