<!DOCTYPE html>
<html>
  <head>
    <title>Student</title>
  </head>
    <body>
      <h1>Student Page</h1>
      <form action="/student" method="POST">
        <label for="roll_num">Roll Number:</label>
        <input type="number" name="roll_num" id="roll_num" />
        <input type="submit" value="Submit">
      </form>
      {% if roll_num %}
      <p>Roll Number: {{roll_num}}</p>
      <p>Exam Hall Details:</p>
    <ul>
        {% for seat in seat_num %}
        <li>Date: {{ seat[0]['date'] }}</li>
        <li>Seat Number: {{ seat[0]['seatnum'] }}</li>
        <li>Classroom: {{ seat[0]['classroom'] }}</li>
        <br>
        {% endfor %}
    </ul>
    {% endif %}
    </body>
</html>
