<!DOCTYPE html>
<head>
    <title>Timetable Upload</title>
</head>
<body>
    <form action="/timetable" method="POST" enctype="multipart/form-data">
      <!-- <h3>First Year</h3>
      <label for="file"></label>
      <input
        type="file"
        name="file1"
        id="file1"
        accept=".xls,.xlsx"
        multiple
      /><br /><br /> -->
      
      <h3>Second Year</h3>
      <label for="file"></label>
      <input
        type="file"
        name="file2"
        id="file2"
        accept=".xls,.xlsx"
        multiple
      /><br /><br />
      
      
      <h3>Third Year</h3>
      <label for="file"></label>
      <input
        type="file"
        name="file3"
        id="file3"
        accept=".xls,.xlsx"
        multiple
      /><br /><br />
      
      <h3>Fourth Year</h3>
      <label for="file"></label>
      <input
        type="file"
        name="file4"
        id="file4"
        accept=".xls,.xlsx"
        multiple
      /><br /><br />
      <input type="submit" value="Upload File" />
      {{status}}
    </form>
</body>
</html>