<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Uploades</title>
  </head>
  <body>
    <h1>Successfully Uploaded</h1>
    <h2>2nd Year</h2>
    <ul>
        {% for sheet_name in data2 %}
            <li>{{ sheet_name}}</li>
        {% endfor %}
    </ul>
    <h2>3rd Year</h2>
    <ul>
        {% for sheet_name in data3 %}
            <li>{{ sheet_name}}</li>
        {% endfor %}
    </ul>
    <h2>4th Year</h2>
    <ul>
        {% for sheet_name in data4 %}
            <li>{{ sheet_name}}</li>
        {% endfor %}
    </ul>
    <a href="/displaydata">Show Data</a><br>
    <a href="/admin">Go Home</a>
  </body>
</html>

